/* Base button styles */
.button {
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 25px;
    padding: 5px 25px;
    border: 2px solid; /* Default border width */
    color: var(--white);
    background-color: var(--logo-purple);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center text horizontally */
}

/* Hover state for button */
.button {
    background-color: #424679;
    border: 2px solid #424679;
    transition: background-color 0.3s, border 0.3s;
}

/* Additional class for outlined button style */
.outline {
    color: var(--logo-purple);
    background-color: var(--white);
    border: 2px solid var(--logo-purple); /* Set border color for outline */
}

/* Hover state for outlined button */
.outline:hover {
    color: var(--white);
    background-color: var(--logo-purple);
    border-color: var(--logo-purple); /* Ensure border color matches background */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
