/* Base button styles */
.button {
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 25px;
    padding: 5px 15px;
    border: 2px solid var(--logo-purple);
    color: var(--white);
    background-color: var(--logo-purple);
}

/* Hover state for button */
.button::hover {
    background-color: #424679;
    border: 2px solid #424679;
    transition: background-color 0.3s, border 0.3s;
}

/* Additional class for outlined button style */
.outline {
    color: var(--logo-purple);
    background-color: var(--white);
}

/* Hover state for outlined button */
.outline:hover {
    color: var(--white);
    background-color: var(--logo-purple);
    transition: background-color 0.3s, color 0.3s;
}