/* Course Heading Styling */
.course-heading {
    color: var(--white);
    border-radius: 25px;
    padding: 15px 20px;
    position: relative;
}

/* Info Button Styling */
.info-button {
    position: absolute; 
    top: 20px; 
    right: 20px;
    border: none;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}

/* Course Name Styling */
.course-name {
    font-size: 50px;
}

/* Popup Overlay Styling */
.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Popup Box */
.popup-content {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: calc(100% - 43px);
    right: 6px;
}

/* Arrow Style */
.popup-content.arrow-top-right::after {
    content: "";
    display: block;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent var(--dark-blue) transparent;
    position: absolute;
    top: -8px;
    right: 20px;
}