.management {
  margin-top: 20px;
}

.management-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  font-size: 1vw;
}

.management-header h1 {
  margin: 0;
  color: var(--logo-purple);
}



/* Styles for filtering and searching the database */
.management-filters {
  display: flex;
  margin: 10px 0;
  width: 100%;
}

.management-filters p {
  margin: 0;
}

/* Styling for the search bar */
.search-container {
  position: relative; 
  margin-left: auto;
}

.management-filters input {
  padding: 10px 10px 10px 35px;
  border-radius: 20px;
  border: 1px solid var(--logo-purple);
  width: 200px;
}

.management-filters input::placeholder,
.modal-search-container input::placeholder {
  color: var(--dark-blue);
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--dark-blue);
}

/* Styling for the filters button */
.filter-button {
  background-color: #DBD9D9;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: var(--button-hover-color); /* Hover color for the button */
}

/* Styling for the Dropdown Container */
.filter-dropdown-container {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (hidden by default, shown when button is clicked) */
.filter-dropdown {
  z-index: 1;
  border-radius: 5px;
  top: 100%;
  left: 0;
  width: 200px;  /* Adjust the width if needed */
}

/* Dropdown Select Input */
.filter-select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}







.table-container {
  width: 100%;
}

.management-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--background-medium);
}

.management-table thead {
  background-color: var(--purple-accent);
  color: var(--white);
}

.management-table thead tr th {
  text-align: left;
}

.management-table tbody tr {
  display: table-row;
  border: 1px solid var(--background-medium);
}

.management-table tbody tr {
  background-color: var(--white);
}

.management-table thead tr th,
.management-table tbody tr td {
  padding: 10px;
  display: table-cell;
  border-bottom: 1px solid var(--background-medium);
}

.management-table tbody tr:last-child td {
  border-bottom: none;
}

.management-table tbody tr:hover {
  background-color: var(--background-medium);
}


/* Styles for modal */

/* Overlay to darken background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Sit above other content */
}

/* Modal container */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 60%;
  overflow: hidden; /* Prevent scrollbar from modal content */
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column; /* To allow content alignment */
}

/* Modal item */
.modal-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modal-default {
  padding: 10px;
}

.modal-item:hover {
  background-color: #f0f0f0; /* Change background on hover */
}

.modal-search-container {
  position: relative; 
  margin-left: auto;
}

.modal-search-container input {
  padding: 10px 40px 10px 10px;
  border-radius: 20px;
  border: 1px solid var(--logo-purple);
  width: calc(100% - 52px);
}

.actions-container {
  position: relative;
}

.modal-context {
  display: flex;
  flex-direction: column;
}

/* Form layout */
.modal-context form {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Make form grow to fill modal space */
}

/* Align labels in a column */
.modal-context label {
  display: block;
  margin-bottom: 15px;
}

/* Fixed size for description box */
textarea {
  width: 100%;
  height: 80px; /* Fixed height */
  resize: none; /* Prevent manual resizing */
  overflow-y: auto; /* Enable scrolling for overflow content */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Buttons at the bottom of the modal */
.modal-buttons {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  padding-top: 10px;
  margin-top: auto; /* Push buttons to the bottom of the modal */
}

/* Style for individual buttons */
.modal-buttons button {
  margin-left: 10px;
}







.dropdown .dropdown-trigger {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--dark-blue);
}

.dropdown .menu {
  display: none;
  position: absolute;
  background-color: var(--white);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 4px;
}

.dropdown .menu button {
  background: none;
  border: none;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown .menu button:hover {
  background-color: var(--white);
}

.dropdown:hover .menu {
  display: block;
}

.dropdown .menu button {
  color: var(--dark-blue);
  font-size: 14px;
  padding: 8px 12px;
}

.dropdown .menu button:hover {
  color: var(--dark-blue);
  background-color: var(--white);
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 20;
}









/* Modal container */
.information-modal {
  position: fixed;
  top: 50%;
  left: 81.5%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 650px;
  height: calc(100vh - 60px);
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Title styling */
.information-modal h1 {
  color: var(--logo-purple);
  margin-bottom: 10px;
}

/* Row for availability and edit button */
.row-availability-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Availability tag styling */
.availability-tag {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
}

.available {
  background-color: green;
}

.unavailable {
  background-color: gray;
}

/* Row for lesson and test counts */
.row-lesson-test {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Description styling */
.information-modal p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Divider */
.modal-divider {
  border: none;
  height: 1px;
  background-color: black;
  margin-bottom: 20px;
}

/* Buttons at the bottom of the modal */
.modal-buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

/* Style for individual buttons */
.modal-buttons button {
  margin-left: 10px;
}

