/* Styling for management table */
.management {
    margin-top: 2%;
    height: 94%;
}

.management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    font-size: 0.8rem;
}

.management-header h1 {
    margin: 0;
    color: var(--logo-purple);
}

.management-list {
    padding: 1.5%;
    border-radius: 25px;
    background-color: var(--background-light);
}
  
.management-row,
.management-list p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8% 2%;
    background-color: var(--white);
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--background-medium);
    box-shadow: 0 2px 5px var(--background-medium);
}

.management-row:last-child,
.management-list p {
    margin-top: 0;
    margin-bottom: 0;
}

.management-title {
    font-weight: bold;
    font-size: 1.2em;
}

.management-list-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.management-availability {
    color: var(--gray-light);
    margin-bottom: 10px;
}

.management-counts {
    display: flex;
    font-size: 1em;
    margin-left: 15px;
}

.management-counts span {
    margin-left: 10px;
}