/* General Navigation Bar Styling */
.navbar {
  position: sticky; /*Positions the navigation bar so that is fixed at the top when scrolling*/
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-left {
  background-color: var(--purple-accent); 
  border-bottom-right-radius: 25px;
  margin: -10px -20px 0 -20px; /* Negative margin to offset the padding */
}

/* Links for the left side */
.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-item {
  position: relative;
  margin-left: 15px;
  margin-right: 20px;
}

/* Style for navigation text */
.nav-item span {
  font-weight: bold;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-left .nav-item span:hover {
  color: var(--background-medium); 
}

/* Dropdown menu styling */
.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px); 
  left: 0;
  background-color: var(--dark-blue);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  list-style-type: none;
}

.dropdown-menu li {
  color: white;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: var(--dark-blue);
}

/* Right side buttons */
.navbar-right {
  display: flex;
}