.past-test-button {
    background-color: #71B39A; /*Sets the background colour of the button to a teal green*/
    color: white; /*Makes the button text white*/
    padding: 15px 30px; /*Adds padding inside the button: 15px on the top/button, 30px on the left/right*/
    border: none; /*Removes the button corners*/
    border-radius: 20px; /*Rounds the buttons corners*/
    cursor: pointer; /*Changes the curser to a pointer when hovering over the button*/
    font-size: 16px; /*Sets the font size to 15px*/
    font-family: Roboto; /*Fonts*/
  }
  
  .past-test-button:hover {
    background-color: #396E59; /*Changes the background colour of the button on hover*/
  }
  