/* Styling for the profile picture */
.profile-picture img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}




/* general container for profile section 
.profile-container {
    position: absolute;
    left: 20%;
    top: 20%;
    transform: translate(-50%);
    padding-left: 10px;
}

/* styling for profile picture image 
.profile-picture {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

/* styling for username text
.username-text {
    margin-top: 0px;
    font-size: 50px;
    color: darkblue;
}

/* styling for 'edit profile' button 
.edit-profile {
    background: var(--purple-accent); 
    border: 2px solid var(--purple-accent); 
    border-radius: 50px; 
    color: rgb(255, 255, 255);
    font-size: 16px; 
    cursor: pointer; 
    text-decoration: none; 
    padding: 4px 10px;
    margin: 1; 
    line-height: normal;
    width: 250px;
    height: 50px;
}*/