/*CSS for PythonCharacter*/

/* Main container for the Python character, sets layout and centers elements */
.python-character-container {
    position: relative; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
  }
  
  /* Container for the snake image and information icon, sets layout and alignment */
  .snake-container {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
  }
  
  /* Styles for the snake image, setting a fixed width */
  .snake-image {
    width: 150px;
    height: auto;
  }
  
  /* Styles for the information icon, including size and cursor behavior */
  .info-icon {
    font-size: 24px;
    margin-left: 0px;
    margin-top: -100px; 
    cursor: pointer;
  }
  
  /* Styles for the speech box, including positioning, appearance, and shadow */
  .speech-box {
    position: absolute; 
    bottom: 110%; 
    left: 57%; 
    transform: translateX(-50%); 
    width: 300px;
    padding: 20px;
    border: 2px solid #585D9D;
    border-radius: 50px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto';
    z-index: 1; 
  }
  
  /* Styles for the text within the speech box, setting color, size, and alignment */
  .speech-text {
    color: #333;
    font-size: 16px;
    text-align: center;
  }
  
  /* Styles for the arrow of the speech box, creating a triangle effect */
  .speech-box::after {
    content: '';
    position: absolute;
    bottom: -15px; 
    left: 15%;
    transform: translateX(-50%); /* Centers the triangle based on its width */
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #585D9D transparent transparent transparent;
  }
  