/*About Us CSS page*/
.aboutus {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    min-width: 800px;
    text-align: center;
    min-height: 100vh;
}

.aboutus h1 {
    margin: 20px 0; /*Adds vertical margin to space out from other elements*/
    font-size: 3rem;
    color: var(--logo-purple);
}

.aboutus p {
    margin: 20px auto; /*Adds margin for spacing and centers the block*/
}

.aboutus-section {
    line-height: 1.6; /* Sets line height for readability */
    margin: 20px auto; /* Adds margin around the section */
    padding: 20px; /* Adds padding inside the section */
    width: 80%;
    background-color: var(--white); /* Light background color for the section */
    border-radius: 8px; /* Rounds the corners of the section */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow effect */
}

.aboutus-section h2 {
    font-size: 1.5rem; /* Sets font size for sub-titles */
    color: var(--logo-purple); /* Lighter blue color for titles */
    margin-bottom: 10px; /* Adds margin below each title for spacing */
}

.aboutus-section ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes padding */
}

.aboutus-section ul li {
    margin-top: 20px; /* Adds space below each value item */
    padding: 15px; /* Adds padding inside each value item */
    background-color: var(--background-dark); /* Light purple background color for value items */
    border-radius: 5px; /* Rounds the corners of each item */
    transition: background-color 0.3s; /* Adds transition effect for hover state */
}

.aboutus-section ul li:hover {
    background-color: var(--background-medium);  /* Changes background color on hover for interactivity */
}