.allcourses-container {
    height: auto;
    width: 80%;
    margin: 25px auto;
    min-height: 100vh;
}

.allcourses-container h1 {
    color: var(--logo-purple);
    font-size: clamp(40px, 4vw, 60px);
    margin-left: 30px;
}

.allcourses-content {
    background-color: var(--white);
    border-radius: 25px;
    padding: 1em;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Add some spacing between the course blocks */
}

.course-block {
    flex: 1 1 600px; /* Allow the item to grow, shrink, and set a minimum width of 300px */
    width: 100%;
    color: var(--white);
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 20px;
    position: relative;
}

.course-block-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.course-block-header h2 {
    font-size: 2.3rem;
    line-height: 1.2;
    margin: 0;
}

.course-block-header p {
    align-self: flex-start;
    color: var(--white);
    margin: 0 0 0.5em 0;
    font-size: 1em;
}

.course-block button {
    margin-left: auto;
}