/* Container for authentication pages */
.authpage {
    display: flex;
}

/* Left side of the authetication page */
.authpage-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.authpage-left h1 {
    font-size: 4vw;
    color: var(--logo-purple);
    margin: 0;
    margin-bottom: clamp(-25px, 1vw, -50px);
}

/* Right side of the authentication page */
.authpage-right {
    position: absolute;
    right: 0;
    background-color: var(--white);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 5px 20px var(--background-dark);
    width: 50%; 
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button to close the login / sign up pages */
.authpage-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: var(--dark-blue);
    font-size: clamp(18px, 2vmin, 24px);
    cursor: pointer;
    padding: 0;
}

/* Layout for the important page content */
.authpage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Styling for the authentication page headings */
.authpage-content h1 {
    font-size: clamp(40px, 4vw, 70px);
    margin: 0;
}

/* Layout for the form within each authentication section */
.authpage-content form {
    width: clamp(200px, 20vw, 350px);
}

/* Aligning form items */
.authpage-content .authpage-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 0;
    width: 100%;
}

/* Styling for the form labels */
.authpage-content label {
    margin-bottom: 5px;
}

/* Styling for input fields */
.authpage-content input {
    
}

.authpage-content Button {
    width: 100%;
}

/* Navigation to get to the login or sign up screens */
.authpage-navigation {
    text-decoration: none;
    color: var(--dark-blue-trans);
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(10px, 2vmin, 16px) !important;
}

.authpage-navigation svg {
    margin-left: 6px; /* Space between the text and icon */
}

.authpage-navigation:hover {
    color: var(--dark-blue);
}