/* Set background color */
.developer-dashboard {
    background-color: var(--purple-accent);
    height: 100vh;
}

/* Manage layout */
.page-content {
    display: flex;
}

/* Align tabs */
.developer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    overflow: hidden;
    width: 10%;
    position: relative;
}

.developer-tabs {
    margin-top: clamp(20px, 4vmin, 45px);
    display: flex;
    flex-direction: column;
    gap: 15px 10px;
    justify-content: center;
    width: 100%;
    position: relative;
}

/* Button styles */
.developer-tabs button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: clamp(5px, 1vw, 10px) clamp(10px, 1vw, 20px);
    cursor: pointer;
    color: var(--white-trans);
    font-size: 1vw;
    text-align: left;
    gap: clamp(5px, 1vw, 20px);
    width: 100%;
    position: relative; 
}

/* Styling the line decoration */
.developer-tabs button.active::after,
.developer-tabs button:hover::before {
    content: ''; 
    position: absolute;
    left: -15px;
    top: 50%; 
    transform: translateY(-50%);
    width: clamp(5px, 5vmin, 10px);
    height: clamp(30px, 5vmin, 40px);
    background-color: var(--white);
    border-radius: 20px;
}

/* Style for the arrow indicator */
.arrow-indicator {
    margin-left: 5px;
    margin-right: -5px;
}

/* Active and hover states */
.developer-tabs button.active,
.developer-tabs button:hover {
    color: var(--white);
}



/* Management area */
.developer-management {
    background-color: var(--white);
    padding: 40px;
    border-radius: 25px; 
    width: 90%;
    height: calc(100vh - 20px);
    flex-grow: 3;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 0;
}

/* Navigation bar */
.developer-navbar {
    display: flex;
    justify-content: space-between;
    color: #acacac;
    font-size: 14px;
}

.developer-navbar .home {
    text-decoration: none;
    text-align: center;
    column-gap: 15px;
    color: inherit;
}

.developer-navbar p {
    margin: 0;
    color: inherit;
}