.lesson-content pre {
    background-color: var(--white);
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}


.lessonpage-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    padding: 20px; /* Optional padding */
  }
  
  .lesson-content {
    max-width: 1000px; /* Limit the width of the content */
    width: 100%; /* Make sure it takes the full width up to max-width */
    margin: 20px 0;
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Space between the buttons */
    margin-top: 20px;
  }
  

.lesson-buttons {
    display: flex;
    justify-content: flex-end;
}

.lesson-buttons button {
    margin-right: 20px;
}