.resources {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    min-width: 800px;
    text-align: center;
    line-height: 1.6; 
}

/* Title Styles */
.resources h1 {
    margin: 20px 0; /*Adds vertical margin to space out from other elements*/
    font-size: 3rem;
    color: var(--logo-purple);
}

.resources h2 {
    font-size: 1.7rem; /* Sets font size for sub-titles */
    color: var(--logo-purple); /* Lighter blue color for titles */
    margin-bottom: 10px; /* Adds margin below each title for spacing */
}

.resources hr {
    border: 1px solid var(--logo-purple);
    width: 90%;
}

/* Description Styles */
.resources-description {
    margin: 20px auto; 
    padding: 20px; 
    background-color: var(--white); 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

/* List Styles */
.resources ul {
    list-style-type: disc; 
    margin: 20px auto; 
    padding-left: 40px; 
    max-width: 1000px;
    font-size: 0.9rem;
}

/* List Item Styles */
.resources ul li {
    margin-bottom: 15px; 
    text-align: start;
}