/* TestSystem.css */

/*Container for the entire test system*/
.test-system {
    margin: 20px;
    font-family: Fira Code, Fira Code;
  }
  
/*Styling for text areas in the form*/
  textarea {
    width: 50%;
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    font-family: monospace;
  }
  
/*Styling for the container holding buttons*/
  .buttons {
    margin: 10px 0;
  }
  
/*Styling for the container holding buttons */
  button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #71B39A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: Roboto;
  }

/*Hover effect for the buttons*/
  button:hover {
    background-color: #396E59;
  }
  
  /*Styling for the result section*/
  .result {
    margin-top: 20px;
    font-size: 18px;
  }
  
  /*Styling for the answer section*/
  .answer {
    margin-top: 20px;
  }
  
  /*Stylling for the preformatted text blocks*/
  pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
  }

  /*Styling for the header section*/
  .header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  /*Styling for the quit button*/
  .quit-button {
    background-color: #F4845F;
    color: white;
    border: none;
    padding: 10px 37px;
    cursor: pointer;
    border-radius: 37px;
    font-size: 14px;
    font-family: Roboto;
  }
  
  /*Styling for the hover of the quit button*/
  .quit-button:hover {
    background-color: #F25C54;
  }

  /*Styling for the header (header colour)*/
  h2 {
    color: #585D9D;
  }

  /*Styling for the paragraph elements*/
  p {
    color: #13315C;
  }
  