.test-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

.test-header {
    display: flex;
    flex-direction: row;
}

.test-header {
    font-size: 14px;
}

.test-navigation button {
    margin-right: 20px;
}