/* Styling for user settings */
.usersettings {
    width: 60%;
    max-width: 1000px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}

.usersettings-header {
    margin: 5vh 0;
}

.usersettings-header h1 {
    font-size: 3.5rem;
    margin: 0;
}

.usersettings-header h3 {
    margin: 0;
    color: var(--logo-purple);
}

.usersettings-container {
    align-items: center;
    margin: 10px auto;
    width: 60%;
    min-width: 600px;
}

.usersettings-content {
    background-color: var(--white);
    padding: 20px;
    border-radius: 25px;
}

/* Styling for the profile picture */
.usersettings-picture {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.image-cropper {
    width: 20vh; 
    height: 20vh; 
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid var(--background-dark);
}

.usersettings-saveimage,
.usersettings-uploadimage {
    display: flex;
}

.usersettings-saveimage button,
.usersettings-uploadimage button {
    margin: auto 5px;
}

.usersettings-saveimage {
    margin-top: 14px;
}

.usersettings-uploadimage {
    align-items: center;
    margin-top: 10px;
}

.usersettings-uploadimage p {
    margin: 0;
    margin-left: 5px;
}


/* Adjust this if you want to show the cropper interface */
.cropper-container {
    width: 100%; 
    margin-top: 10px; 
}


.picture-upload {
    display: flex;
    flex-direction: column;
}

.usersettings-username {
    margin-top: 20px;
}

.usersettings-username input {
    width: 100%;
}


.usersettings-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.usersettings-buttons button {
    margin-right: 10px;
}

/* Advanced user settings */
.usersettings-advancedtoggle {
    color: var(--gray-dark);
    margin: 0;
}

.usersettings-advanced {
    margin-left: auto;
    max-width: fit-content;
}